# Ignore the Hugo published site
public/

# Ignore Cloudflare Worker files
workers-site/node_modules/*
workers-site/worker/*
workers-site/dist/*
workers-site/.install.lock
dist/*

# macOS
.DS_Store
*/.DS_Store
*/**/.DS_Store

# NPM
node_modules/

# Hugo caches
resources/_gen/

# Ignore WIP
TODO/

# Hugo defaults
Thumbs.db
.DS_Store
.dist
.tmp
.lock
.sass-cache
npm-debug.log
node_modules
builds
public
resources
.hugo_build.lock
jsconfig.json
hugo_stats.json
yarn.lock
scss__

# Ignore devenv.sh cache.
.devenv/

# Ignore direnv cache.
.direnv/

# Ignore pre-commit.
.pre-commit-config.yaml
